<ion-header mode="ios">
    <ion-title class="tituloApp">
        Feed
    </ion-title>
</ion-header>

<ion-searchbar mode="ios" value="" placeholder="buscar" animated (ionChange)="buscar( $event )"></ion-searchbar>

<ion-content>


    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div class="masonry">

        <div *ngFor="let carta of arrayCartas | filtro:texto " class="item">
            <div *ngIf="carta.isRespuesta; then respuesta; else pregunta"></div>
            <ng-template #pregunta>

                <ion-card mode="ios" color="dark">
                    <ion-card-header>
                        <ion-card-title (click)="presentActionSheet(this.carta)">{{carta.contenido}}</ion-card-title>
                        <ion-card-subtitle>
                            @{{carta.usuario}}
                            <app-animated-like [carta]="this.carta"></app-animated-like>
                        </ion-card-subtitle>
                    </ion-card-header>
                </ion-card>

            </ng-template>

            <ng-template #respuesta>
                <ion-card mode="ios">
                    <ion-card-header>
                        <ion-card-title (click)="presentActionSheet(this.carta)">{{carta.contenido}}</ion-card-title>
                        <ion-card-subtitle>
                            @{{carta.usuario}}
                            <app-animated-like [carta]="this.carta"></app-animated-like>
                        </ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
            </ng-template>
        </div>
    </div>


</ion-content>
